[Unit]
Description=MediaPlayer
Requires=mpd.service
After=mpd.service

[Service]
Type=forking
ExecStart=/root/pi3/mediaplayer/run.sh

[Install]
WantedBy=multi-user.target
